*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header {
    width: 100%;
    background-color: rgb(75, 74, 74);
}
header img{
    margin: 15px;
    margin-left: 195px;
}
nav{
    position: absolute;
    top: 15px;
    right: 70px;
    left: 430px;
}
li{
    margin-right: 60px;
    background-color: rgb(75, 74, 74);
    display: inline;
    color:rgb(134, 133, 133);
    font-weight: bolder;
    line-height: 70px;
    padding: 30px;
}
main{
    width: 960px;
    height: 1350px;
    margin: auto;
    padding-top: 30px;
}
.image{
    word-spacing: 25.5px;
    padding-top: 30px;
}
#section{
    padding-top: 30px;
}
#section img{
    display: inline;
    float: left;
}
h3{
    float: left;
    padding-left: 30px; 
    font-weight: bolder;
}
p{
    overflow: scroll;
    position: relative;
    float: left;
    height: 333px;
    width: 450px;
    padding-left: 30px;
}
a{
    display: inline-block;
    font-size: 20px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 15px;
    margin-left: 30px;
}
footer{
    position: relative;
    height: 100px;
    background-color: rgb(75, 74, 74);
    bottom: 0px;
}